@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* * {
    padding: 0;
    margin: 0;
} */

body {
    background-color: #FFDAB9;
    color: rgb(0, 0, 0);

/*     font-size: 16px;
    font-weight: 500;
    font-family: "Roboto", serif; */

/*     font-family: 'Courier New', Courier, monospace; */

    font: normal 16px "Roboto", serif;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: blue;
}

a:active {
    color: red;
}

a:visited {
    color: grey;
}

.ava {
    width: 200px;
    border-radius: 28px;
    box-shadow: 4px 4px 14px greenyellow;
}

.info p {
    color: black;
    margin: 0px;
    font-weight: bold;
/*     font-style: italic;
    font-weight: bold;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 5px;
    word-spacing: 20px; */
}

.info {
    margin-bottom: 20px;
    display: flex;
}

@media (max-width: 800px) {
    .info{
        text-align: center;
        display: block;
    }
}

.info-text {
    margin-left: 40px;
}

.info-text h4 {
    margin-bottom: 10px;
}

.container {
    max-width: 750px;
    margin: auto;
    padding-top: 30px;
}

.card {
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.bg-yellow {
    background: #EE82EE;
}

.bg-green {
    background: #EE82EE;
}

.bg-red {
    background: #EE82EE;
}

.card h2 {
    margin-bottom: 10px;
}

.list {
    padding: 0 20px;
/*     list-style: none; */
}

.list li {
    color: black;
    margin-bottom: 10px;
/*     border-bottom: 1px solid grey; */
}

.table {
    width: 100%;
}

.table td {
    padding-bottom: 10px;
}


.table td:nth-child(2),.table td:nth-child(3) {
    color: rgb(63, 63, 63);
}

.link-list {
    list-style: none;
    padding: 0;
}

.link-list li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
}

.contact h2 {
    text-align: center;
}

.form-group label {
    display: block;
    font-size: 14px;
    color: black;
}

.form-group input, .form-group textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ccc;
    color: black;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
}

.row {
    display: flex;
    margin-bottom: 20px;
}

.row > .form-group {
    width: 50%;
    margin-right: 20px;
}

.row > .form-group:last-child {
    margin-right: 0;
}

/* .row > .form-group:first-child {
    margin-left: 20px;
} */

.btn {
    color: white;
    padding: 15px 20px;
    background: black;
    border: none;
    font-family: inherit;
    cursor: pointer;
    margin-top: 15px;
}

.btn:hover {
    opacity: 0.9;
}

/* Position */
/* 
.position {
    position: relative;
    border: 4px solid black;
    margin-top: 40px;
    padding: 20px;
    height: 300px;
}

.box {
    position: fixed;
    bottom: 50px;
    right: 50px;
    border-radius: 50%;
    top: 50px;
    width: 50px;
    height: 50px;
    background: lightcoral;
} */


/* .table tr:nth-child(3) {
    background-color: red;
} */



/* Box Model */
/* .social {
    background: greenyellow;
    padding: 15px; */
    /*padding: 15px 40px; */
    /*padding: 15px 20px 25px 30px; */
    /* padding-left: 15px;
      padding-right: 20px;
      padding-top: 25px;
      padding-bottom: 30px; */
/*     margin: 5px;

    border: 5px solid red; */
/*     border-bottom-style: dotted; */
/*     border-top-width: 15px;
    border-right-color: blue; */
/* } */



/* .box-model div {
    background: black;
    height: 200px;
    width: 25%;
    float: left;
    border: 4px solid red;
    box-sizing: border-box;
} */
